    <!--Font awesome CDN -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
        <div class="additional">
          <ul id="menu-main-menu" class="additional">
            <li class="menu-item"><a href="{{ site.url }}/" >Code</a></li>
            <li class="menu-item"><a href="{{ site.url }}/about">About</a></li>
            <li class="menu-item"><a href="{{ site.url }}/manual">Manual</a></li>
            <li class="menu-item"><a href="{{ site.url }}/rdf-ontology">Ontology</a></li>
            <li class="menu-item"><a href="{{ site.url }}/system">System</a></li>
            <li class="menu-item"><a href="{{ site.url }}/team">Team</a></li>
            <li class="menu-item"><a href="{{ site.url }}/news">News</a></li>
          </ul>
        </div>
